Package: com.github.ethanrdoesmc.gandalf10
Name: Gandalf-10
Version: 0.0.0.1
Architecture: iphoneos-arm
Description: Prevents installation of conflicting Tweaks on iOS 10
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweak
Depends: firmware (>= 10.0)