Package: com.github.ethanrdoesmc.gandalf-yalu102
Name: Gandalf102
Version: 1.1
Architecture: iphoneos-arm
Description: Prevents installation of known broken tweaks on Yalu102. Yay!
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
Depends: firmware (>= 10.2)
