Package: io.github.gandalf.icons
Name: GDN Icons
Version: 2.1
Architecture: iphoneos-arm
Description: Installs icons.
Depiction: https://ethanrdoesmc.github.io/gandalf/depictions/?p=io.github.gandalf.icons/
Maintainer: EthanRDoesMC <ethanrdoesmc@gmail.com>
Author: EthanRDoesMC <ethanrdoesmc@gmail.com>
Section: Misc
Priority: required
